[submodule "psd_ws/src/ros_components_description"]
	path = psd_ws/src/ros_components_description
	url = https://github.com/husarion/ros_components_description.git
[submodule "psd_ws/src/ros-controls/control_msgs"]
	path = psd_ws/src/ros-controls/control_msgs
	url = https://github.com/ros-controls/control_msgs.git
