<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="psd_vehicle_ros2_control" params="
                name"
                >

    <!-- control -->
    <xacro:property name="PI" value="3.14159265359" />

    <xacro:property name="max_torque" value="100" />
    <xacro:property name="max_steering_angle" value="${20 * PI / 180}" />

    <ros2_control name="GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!-- steering control -->
      <joint name="steering_fr">
        <command_interface name="position">
          <param name="min">"${-max_steering_angle}"</param>
          <param name="max">"${max_steering_angle}"</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="steering_fl">
        <command_interface name="position">
          <param name="min">"${-max_steering_angle}"</param>
          <param name="max">"${max_steering_angle}"</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <!-- driving control -->
      <joint name="drive_rl">
        <command_interface name="effort">
          <param name="min">"${-max_torque}"</param>
          <param name="max">"${max_torque}"</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="drive_rr">
        <command_interface name="effort">
          <param name="min">"${-max_torque}"</param>
          <param name="max">"${max_torque}"</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="drive_fl">
        <command_interface name="effort">
          <param name="min">"${-max_torque}"</param>
          <param name="max">"${max_torque}"</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="drive_fr">
        <command_interface name="effort">
          <param name="min">"${-max_torque}"</param>
          <param name="max">"${max_torque}"</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

    <gazebo>
      <!-- Joint state publisher -->
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find psd_vehicle_bringup)/config/psd_vehicle_controllers.yaml</parameters>
      </plugin>
    </gazebo>
    
  </xacro:macro>
</robot>