<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="orbbec_astra"
               params="parent_link xyz rpy
                       tf_prefix:=None
                       camera_name:=camera
                       namespace:=None
                       simulation_engine:=gazebo-classic">

    <xacro:if value="${namespace == 'None'}">
      <xacro:property name="ns" value="" />
    </xacro:if>
    <xacro:unless value="${namespace == 'None'}">
      <xacro:property name="ns" value="${namespace}/" />
    </xacro:unless>

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="prefix" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="prefix" value="${tf_prefix}_" />
    </xacro:unless>

    <joint name="${parent_link.rstrip('_link')}_to_${prefix}${camera_name}_orbbec_astra_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${prefix}${camera_name}_orbbec_astra_link" />
    </joint>

    <link name="${prefix}${camera_name}_orbbec_astra_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://ros_components_description/meshes/orbbec_astra.dae" />
        </geometry>
      </visual>

      <!-- camera module collision -->
      <collision>
        <origin xyz="${0.0225-0.04/2.0} 0.0 ${0.019+0.03/2.0}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.04 0.165 0.03" />
        </geometry>
      </collision>

      <!-- mounting base model collision -->
      <collision>
        <origin xyz="${0.0235-0.06/2.0} 0.0 ${0.019/2.0}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.06 0.06 0.019" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 ${0.019+0.01}" rpy="0.0 0.0 0.0" />
        <mass value="0.300" />
        <inertia ixx="0.00073916" ixy="0.0"        ixz="0.0"
                                  iyy="0.00015435" iyz="0.0"
                                                   izz="0.00077395" />
      </inertial>
    </link>

    <joint name="${parent_link.rstrip('_link')}_to_${prefix}${camera_name}_color_joint" type="fixed">
      <origin xyz="-0.002 0.0125 0.03325" rpy="-0.003 0.0 -0.003" />
      <parent link="${parent_link}" />
      <child link="${prefix}${camera_name}_color_frame" />
    </joint>

    <link name="${prefix}${camera_name}_depth_frame" />

    <joint name="${parent_link.rstrip('_link')}_to_${prefix}${camera_name}_depth_joint" type="fixed">
      <origin xyz="0.0 0.0 0.03325" rpy="0.0 0.0 0.0" />
      <parent link="${parent_link}" />
      <child link="${prefix}${camera_name}_depth_frame" />
    </joint>

    <link name="${prefix}${camera_name}_color_frame" />

    <joint name="${prefix}${camera_name}_color_to_${prefix}${camera_name}_color_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_color_frame" />
      <child link="${prefix}${camera_name}_color_optical_frame" />
    </joint>

    <link name="${prefix}${camera_name}_depth_optical_frame" />

    <joint name="${prefix}${camera_name}_depth_to_${prefix}${camera_name}_depth_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
      <parent link="${prefix}${camera_name}_depth_frame" />
      <child link="${prefix}${camera_name}_depth_optical_frame" />
    </joint>

    <link name="${prefix}${camera_name}_color_optical_frame" />

    <xacro:if value="${simulation_engine == 'ignition-gazebo'}">
      <gazebo reference="${prefix}${camera_name}_orbbec_astra_link">
        <!-- https://github.com/orbbec/OrbbecSDK_ROS2#all-available-topics -->
        <sensor type="camera" name="${ns}{prefix}${camera_name}_orbbec_astra_color">
          <always_on>true</always_on>
          <update_rate>30.0</update_rate>

          <topic>${ns}${camera_name}/color/image_raw</topic>
          <visualize>false</visualize>

          <ignition_frame_id>${prefix}${camera_name}_color_optical_frame</ignition_frame_id>
          <horizontal_fov>${60.0/180.0*pi}</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>

          <clip>
            <near>0.6</near>
            <far>8.0</far>
          </clip>
          <ros>
            <namespace>${ns}</namespace>
          </ros>
        </sensor>

        <sensor type="depth_camera" name="${ns}${prefix}${camera_name}_orbbec_astra_depth">
          <always_on>true</always_on>
          <update_rate>10.0</update_rate>


          <topic>${ns}${camera_name}/depth/image_raw</topic>
          <visualize>false</visualize>

          <ignition_frame_id>${prefix}${camera_name}_depth_optical_frame</ignition_frame_id>
          <camera>
            <horizontal_fov>${60.0/180.0*pi}</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
            </image>

            <clip>
              <near>0.6</near>
              <far>8.0</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.005</stddev>
            </noise>
          </camera>
          <ros>
            <namespace>${ns}</namespace>
          </ros>
        </sensor>
      </gazebo>
    </xacro:if>

    <xacro:if value="${simulation_engine == 'gazebo-classic'}">
      <gazebo reference="${prefix}orbbec_astra_link">
        <sensor type="depth" name="${prefix}orbbec_astra_camera">
          <always_on>true</always_on>
          <update_rate>20.0</update_rate>

          <camera name="${prefix}camera">
            <horizontal_fov>${60.0/180.0*pi}</horizontal_fov>
            <image>
              <format>R8G8B8</format>
              <width>640</width>
              <height>480</height>
            </image>
          </camera>

          <plugin name="${prefix}orbbec_astra_camera" filename="libgazebo_ros_camera.so">
            <ros>
              <namespace>orbbec_astra_camera</namespace>
              <remapping>custom_camera/image_raw:=rgb/image_raw</remapping>
              <remapping>custom_camera/image_depth:=depth/image_raw</remapping>
              <remapping>custom_camera/camera_info:=rgb/camera_info</remapping>
              <remapping>custom_camera/camera_info_depth:=depth/camera_info</remapping>
              <remapping>custom_camera/points:=depth/points</remapping>
            </ros>

            <camera_name>${prefix}camera</camera_name>
            <frame_name>${prefix}${frame_id}</frame_name>
            <hack_baseline>0.07</hack_baseline>

            <min_depth>0.6</min_depth>
            <max_depth>8.0</max_depth>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
